@font-face {
    font-family: "Montserrant"; 
    src: url(TTF/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "Medium"; 
    src: url(TTF/Montserrat-Medium.ttf);
}

@font-face {
    font-family: "Italic";
    src: url(TTF/Montserrat-MediumItalic.ttf);
}

@font-face {
    font-family: "ligth";
    src: url(TTF/Montserrat-Light.ttf)
}

body {
    background-color: #ffffff;
    font-family: "Medium";
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

h4 {
    display: inline-block;
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
    font-family: "Medium";   
}

h5 {
    font-size: 20px;
}

h1 {
    font-family: "Medium";
    font-size: 25px;
}

h3 {
    font-family: "ligth";
    font-size: 15px;
}

.th {
    text-align: center;
}

.table {
    float: right;
}

.espaço1 {
    display: inline-block;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20%;
    background-color: #ffffff; 
}

.color {
    color: #ff6417;
    font-family: "Italic";
}

.espaço {
    margin: 10px;
    font-size: 16px;
}

.titulo {
    position: absolute;
    top: 145px;
    left: 20px;
    font-size: 40px;
    color: white;
}

.titulo1 {
    display: block;
    position: relative;
    top: 40px;
    margin-top: 10px;
/*Retangulo em volta do texto*/
    display: inline-block;
    padding: 10px;
    border: 2px solid rgb(255, 255, 255);
}

.botão {
    display: inline-block;
    background-color: #e1f339;
    color: black;
    padding: 17px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
}

.correcao {
    float: right;
    margin-left: 20px;
    width: 300px;
}

.retangulo {
    display: inline-block;
    background-color: #e1f339;
    color: black;
    padding: 17px;
    text-decoration: none;
    font-weight:lighter;
}

.titulo3 {
    position: absolute;
    text-align: center;
    font-size: 40px;
    color: #e1f339;
}

.espaço2 {
    display: inline-block;
    padding: 10px;
    color: #ffffff;
    border-radius: 20%;
    background-color: #ff6417;
}

.centro {
    text-align: rigth;
    float: right;
}